import /init.recovery.qcom_decrypt.rc

on init
    setprop sys.usb.configfs 1

    # Don't lose recovery logs- keep warm reset for coming out of recovery.
    write /sys/module/msm_poweroff/parameters/warm_reset 1

    # Enable thermal mitigation
    write /sys/devices/virtual/thermal/tz-by-name/backup-charge/mode enabled

    # Create location for fs_mgr to store abbreviated output from filesystem
    # checker programs.
    mkdir /dev/fscklogs 0770 root system

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Set fscklog permission
    chown root system /dev/fscklogs/log
    chmod 0770 /dev/fscklogs/log

on boot
    start health-hal-2-0

on post-fs
    start boot-hal-1-0
