import /init.recovery.qcom_decrypt.rc

on init
    # Don't lose recovery logs- keep warm reset for coming out of recovery.
    write /sys/module/msm_poweroff/parameters/warm_reset 1

    # Enable thermal mitigation
    write /sys/devices/virtual/thermal/tz-by-name/backup-charge/mode enabled

    # Create location for fs_mgr to store abbreviated output from filesystem
    # checker programs.
    mkdir /dev/fscklogs 0770 root system

    # Determine fastboot boot status
    start fastboot_boot_check

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Set fscklog permission
    chown root system /dev/fscklogs/log
    chmod 0770 /dev/fscklogs/log

on boot
    start health-hal-2-0

on post-fs
    start boot-hal-1-0

on property:ro.boot.fastboot=1
    # Load touch modules
    insmod /vendor/lib/modules/synaptics_dsx_core.ko
    insmod /vendor/lib/modules/synaptics_dsx_fw_update.ko
    insmod /vendor/lib/modules/synaptics_dsx_rmi_dev.ko
    insmod /vendor/lib/modules/synaptics_dsx_test_reporting.ko

on property:ro.boot.dynamic_partitions=true && property:ro.boot.fastboot=0
    wait /dev/block/bootdevice/by-name/vendor
    start temp_mount

on property:temp_mount.vendor_mounted=1
    start load_modules

on property:prepdecrypt.vendor_mounted=1
    start load_modules

service fastboot_boot_check /system/bin/fastboot_boot_check.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service load_modules /system/bin/load_modules.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0

service temp_mount /system/bin/temp_mount.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
